.container {
    display: flex;
    flex-direction: column;
    padding: 0 2.5vw;
}

/* Desktop */
@media (min-width: 901px) {
 
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 900px) {
  
}

