.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding: 0 0 5vh 0;
}

.loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5vh;
    width: 60vw;
}

.loaderName {
    order: 2;
    font-size: 6vw;
}

.loaderImage {
    order: 1;
}

.loaderLocation {
    order: 3;
    font-size: 4vw;
}

.bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    height: auto;
    padding: 5vh 5vw;
    gap: 5vh;
}

.copy {
    width: 100%;
    height: auto;
    color: #2B3034;
}

.image {
    width: 100%;
    height: auto;
}

.button {
    background-color: white;
    border: 1px solid #2B3034;
    border-radius: 0;
    padding: 2vh 2vw;
    color: #2B3034;
    cursor: pointer;
}

/* Desktop */
@media (min-width: 901px) {
    .bio {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 90vw;
        padding: 5vh 5vw;
        gap: 0vh;
    }

    .loader {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 90vw;
        padding: 5vh 5vw;
    }
    
    .loaderName {
        order: 1;
        font-size: 1.5vw;
    }
    
    .loaderImage {
        order: 2;
    }
    
    .loaderLocation {
        order: 3;
        font-size: 1.5vw;
    }

    .copy {
        width: 50vw;
    }
    
    .image {
        width: 30vw;
    }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 900px) {

}

