.header {
    width: 90vw;
    height: auto;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    padding: 2.5vh 5vw;
}

.icons {
    display: flex;
    gap: 2vw;
}

/* Desktop */
@media (min-width: 901px) {
    .icons {
        gap: 1vw;
    }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 900px) {
  
}